<br>
<br>
<label class="welcome">Welcome</label>
<i class="fa fa-user-o logout" aria-hidden="true" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top"
  ngbTooltip="Click to logout"></i>
<label class="logout-text" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top" ngbTooltip="Click to logout">Logout</label>
<br>
<br>
<br>
<div class="row">
  <input class="inputStyle col-sm-3" type="number" [(ngModel)]="this.shipmentsService.shipmentNumber" placeholder="Enter the shipment number or sales order you are looking for">
  <button type="button" class="btn btn-info look" (click)="this.shipmentsService.getShipmentByShipmentNumber(this.shipmentsService.shipmentNumber)">Search</button>
  <button [ngbCollapse]="this.shipmentsService.wrongStatusOfShipmentById" class="warning alert alert-danger">Ther is no given Shipment Number</button>
</div>
<br>
<br>
<div>
  <div class="row">
    <table class="table-striped table-bordered tableStyle center">
      <thead>
        <tr class="table-active">
          <th class="ths" style="width: 6%">Unloading Date</th>
          <th class="ths" style="width: 6%">Loading Date</th>
          <th class="ths" style="width: 6%">Document No.</th>
          <th class="ths" style="width: 6%">Shipment No.</th>
          <th class="ths" style="width: 6%">Sales Order</th>
          <th class="ths" style="width: 6%">Weight in kg</th>
          <th class="ths" style="width: 6%">Quantity</th>
          <th class="boldUpper ths" style="width: 15%">Name</th>
          <th class="boldUpper ths" style="width: 15%">Place of Delivery</th>
          <th class="ths" style="width: 6%">Customs office</th>
          <th class="ths" style="width: 7%">Docs</th>
          <th class="ths" style="width: 7%">Edit</th>
        </tr>
      </thead>
      <tbody *ngIf="this.shipmentsService.shipmentsList !== null">
        <tr *ngFor="let shipment of this.shipmentsService.shipmentsList; let i = index">
          <td class="ths">{{this.dateService.dateFormatForPost(shipment.unloadingDate)}}</td>
          <td class="ths">{{this.dateService.dateFormatForPost(shipment.loadingDate)}}</td>
          <td class="ths">{{shipment.documentNumber}}</td>
          <td class="ths">{{shipment.shipmentNumber}}</td>
          <td class="ths">{{shipment.salesOrder}}</td>
          <td class="ths">{{shipment.weightKg}}</td>
          <td class="ths">{{shipment.capacityLtr}}</td>
          <td class="ths leftBold">{{shipment.name}}</td>
          <td class="ths left">{{shipment.place}}</td>
          <td class="ths">{{shipment.dutyShipment.dutyType}}</td>
          <td class="ths">
            <i *ngFor="let scan of shipment.scanLinks" class="pdf fa fa-file-pdf-o fa-2x" aria-hidden="true" (click)="this.scanService.downloadFileServiceForDriver(scan)"
              style="cursor: pointer;" placement="top" ngbTooltip="Click to download"></i>
          </td>
          <td class="ths">
            <button class="btn btn-info" (click)="goToEdit(i)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>